

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* On force le site à prendre tout l'écran sans marges blanches */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f5f5; /* Fond noir pur pour l'immersion */
  overflow-x: hidden; /* Évite le scroll horizontal bizarre */
}

h1, h2 {
  font-family: 'Cinzel', serif !important;
}

/* Vogue header font */
.header,
.logo,
.nav-link,
.cta {
  font-family: 'Playfair Display', serif !important;
}
